In [1]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import seaborn as sns
import env

In [2]:
# Run this cell if you need a fresh new dataframe for whatever reason. Otherwise read from 'user_logs.csv'

# url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
# query = '''
# SELECT * FROM cohorts
# join logs on cohorts.id = logs.cohort_id;
# '''
# df = pd.read_sql(query, url)

In [3]:
df = pd.read_csv('user_logs.csv')

In [4]:
# Save dataframe as csv file
# df.to_csv('user_logs.csv', index=False)

In [5]:
df.drop(columns='cohort_id',inplace=True)

In [6]:
df.rename(columns={'id':'cohort_id','name':'cohort_name'},inplace=True)

In [7]:
# Catch a glimpse of user logs.
df

,cohort_id,cohort_name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,date,time,path,user_id,ip
0,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:55:03,/,1,97.105.19.61
1,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:02,java-ii,1,97.105.19.61
2,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61
3,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61
4,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847325,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:41:51,jquery/personal-site,64,71.150.217.33
847326,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:42:02,jquery/mapbox-api,64,71.150.217.33
847327,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:42:09,jquery/ajax/weather-map,64,71.150.217.33
847328,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,24.160.137.86
847329,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:44:39,jquery/mapbox-api,64,71.150.217.33

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847330 entries, 0 to 847329
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   cohort_id    847330 non-null  int64
 1   cohort_name  847330 non-null  object
 2   slack        847330 non-null  object
 3   start_date   847330 non-null  object
 4   end_date     847330 non-null  object
 5   created_at   847330 non-null  object
 6   updated_at   847330 non-null  object
 7   deleted_at   0 non-null       float64
 8   program_id   847330 non-null  int64
 9   date         847330 non-null  object
 10  time         847330 non-null  object
 11  path         847329 non-null  object
 12  user_id      847330 non-null  int64
 13  ip           847330 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 90.5+ MB

In [9]:
# Trying to figure out if 'created_at' and 'updated_at' have all the same values. If so create
# 'created_and_updated_at' column and drop originals

updated_curriculum = df[df.created_at != df.updated_at]

In [10]:
updated_curriculum

,cohort_id,cohort_name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,date,time,path,user_id,ip
72,16,Niagara,#niagara,2016-10-26,2017-03-09,2016-10-26 02:34:05,2016-10-26 14:30:19,NaN,2,2018-01-26,10:59:02,index.html,21,71.137.146.71
73,16,Niagara,#niagara,2016-10-26,2017-03-09,2016-10-26 02:34:05,2016-10-26 14:30:19,NaN,2,2018-01-26,10:59:06,java-i,21,71.137.146.71
254,16,Niagara,#niagara,2016-10-26,2017-03-09,2016-10-26 02:34:05,2016-10-26 14:30:19,NaN,2,2018-01-26,13:57:51,spring/extra-features/file-upload,40,97.105.19.61
1008,16,Niagara,#niagara,2016-10-26,2017-03-09,2016-10-26 02:34:05,2016-10-26 14:30:19,NaN,2,2018-01-29,09:28:24,jquery,40,97.105.19.61
1009,16,Niagara,#niagara,2016-10-26,2017-03-09,2016-10-26 02:34:05,2016-10-26 14:30:19,NaN,2,2018-01-29,09:28:31,jquery/ajax,40,97.105.19.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845070,61,Bash,#bash,2020-07-20,2021-01-21,2020-07-20 19:04:00,2020-09-30 15:54:46,NaN,2,2021-04-20,11:37:32,spring/fundamentals/repositories,709,206.109.18.52
845111,61,Bash,#bash,2020-07-20,2021-01-21,2020-07-20 19:04:00,2020-09-30 15:54:46,NaN,2,2021-04-20,11:47:11,html-css,705,136.50.68.20
845112,61,Bash,#bash,2020-07-20,2021-01-21,2020-07-20 19:04:00,2020-09-30 15:54:46,NaN,2,2021-04-20,11:47:14,html-css/css-ii/bootstrap-grid-system,705,136.50.68.20
845566,56,Apex,#apex,2020-02-24,2020-07-29,2020-02-24 15:39:33,2020-07-29 18:41:13,NaN,2,2021-04-20,15:04:46,java-iii,609,70.115.90.106
845567,56,Apex,#apex,2020-02-24,2020-07-29,2020-02-24 15:39:33,2020-07-29 18:41:13,NaN,2,2021-04-20,15:04:48,java-iii/finish-the-adlister,609,70.115.90.106

In [11]:
updated_curriculum.program_id.value_counts()

2    52036
Name: program_id, dtype: int64

## Takeaways
* There are a little over 52,000 observations where the value of 'created_at' is not equal to the value of 'updated_at'.
* All updates were done on program_id:2(seems like the web development program))
* Leave as-is for now.

In [12]:
df

,cohort_id,cohort_name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,date,time,path,user_id,ip
0,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:55:03,/,1,97.105.19.61
1,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:02,java-ii,1,97.105.19.61
2,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61
3,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61
4,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847325,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:41:51,jquery/personal-site,64,71.150.217.33
847326,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:42:02,jquery/mapbox-api,64,71.150.217.33
847327,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:42:09,jquery/ajax/weather-map,64,71.150.217.33
847328,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,24.160.137.86
847329,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:44:39,jquery/mapbox-api,64,71.150.217.33

In [13]:
# Merge 'date' and 'time' columns and set as date_time object and index. Drop original columns
df['datetime'] = df.date+' '+df.time
df.drop(columns=['date','time'],inplace=True)

In [14]:
# Set 'datetime' as a datetime index.
df.datetime = pd.to_datetime(df.datetime)
df = df.set_index(df.datetime)

In [15]:
# Drop original 'datetime' columns
df.drop(columns='datetime',inplace=True)

In [16]:
df

,cohort_id,cohort_name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,path,user_id,ip
datetime,,,,,,,,,,,,
2018-01-26 09:55:03,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,/,1,97.105.19.61
2018-01-26 09:56:02,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,java-ii,1,97.105.19.61
2018-01-26 09:56:05,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,java-ii/object-oriented-programming,1,97.105.19.61
2018-01-26 09:56:06,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,slides/object_oriented_programming,1,97.105.19.61
2018-01-26 09:56:24,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,javascript-i/conditionals,2,97.105.19.61
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,jquery/personal-site,64,71.150.217.33
2021-04-21 16:42:02,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,jquery/mapbox-api,64,71.150.217.33
2021-04-21 16:42:09,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,jquery/ajax/weather-map,64,71.150.217.33
2021-04-21 16:44:37,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,anomaly-detection/discrete-probabilistic-methods,744,24.160.137.86
2021-04-21 16:44:39,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,jquery/mapbox-api,64,71.150.217.33

In [17]:
pages = df['path'].resample('d').count()
pages

datetime
2018-01-26     533
2018-01-27     230
2018-01-28     168
2018-01-29     783
2018-01-30     614
              ...
2021-04-17     430
2021-04-18     651
2021-04-19    2156
2021-04-20    1921
2021-04-21    1107
Freq: D, Name: path, Length: 1182, dtype: int64

# 1. Label students by the program they are in

In [29]:
df.groupby('program_id').user_id.unique()

program_id
1    [1, 11, 37, 50, 51, 53, 60, 64, 66, 68, 69, 70...
2    [2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 1...
3    [466, 467, 468, 469, 470, 471, 472, 473, 474, ...
4                                                [152]
Name: user_id, dtype: object

# 2. Is it possible to identify the user_id of a staff member?

In [31]:
df[df.cohort_name == 'Staff']

,cohort_id,cohort_name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,path,user_id,ip
datetime,,,,,,,,,,,,
2018-12-06 14:15:29,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,appendix/further-reading/java/intellij-tomcat-...,53,97.105.19.58
2018-12-06 14:25:40,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,javascript-i,314,97.105.19.58
2018-12-06 14:25:41,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,javascript-i/coffee-project,314,97.105.19.58
2018-12-06 15:31:29,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,spring,40,170.248.173.247
2018-12-06 15:31:33,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,spring/fundamentals/security,40,170.248.173.247
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,jquery/personal-site,64,71.150.217.33
2021-04-21 16:42:02,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,jquery/mapbox-api,64,71.150.217.33
2021-04-21 16:42:09,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,jquery/ajax/weather-map,64,71.150.217.33
2021-04-21 16:44:37,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,anomaly-detection/discrete-probabilistic-methods,744,24.160.137.86
2021-04-21 16:44:39,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,jquery/mapbox-api,64,71.150.217.33

In [37]:
df[df.cohort_name == "Staff"].user_id.unique()

array([ 53, 314,  40,  64,  11, 211,   1, 312, 146, 248, 370, 397, 404,
       257, 428, 461,  37, 514, 539, 545, 546, 572, 315,  41, 592, 618,
       620, 521, 652, 502, 653, 480, 738, 742, 745, 813, 430, 816, 581,
       854, 855, 744, 893, 148, 894, 513, 630, 308, 951, 953, 980])

# 3. Identify students who are accessing our curriculum pages beyond the end of their time at Codeup.

In [ ]:
df.end_date > df.index